@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Climate Change</title>
</head>
<body>

    <h1>Climate change as a factor of Sustainable Development Goals (SDG)</h1>
    
    <div class="jumbotron" style="background-image: url('../../Background/NorthPole.jpg'); background-size: 110% 110% " ;>
        <div class=" row">
            <div class="col-lg-6">
                <h3 style="color:red;"> What is climate change? </h3>
                <p style="color: black">
                    a change in global or regional climate patterns, in particular
                    a change apparent from the mid to late 20th century onwards and attributed largely to the increased
                    levels of atmospheric carbon dioxide produced by the use of fossil fuels.
                </p>
            </div>
            <div class="col-lg-6">
                <h3 style="color:red">Class Structure Diagram</h3>
                <p style="color:black">This explains the data flow of the SDG and the NGO</p>
                <img src="~/Images/ClassDiagram.drawio.png" alt="" style="width:450px;height:400px;">
            </div>
        </div>
    </div>
    
    <div class="jumbotron" style="background-image: url('../../Background/WaterWorld.jpg');
                                    background-size: 110% 110%" ;>
        <div class=" row">
            <div class="col-lg-6">
                <h3 style="color:red;"> How did climate change occure? </h3>
                <p style="color:white">
                    From 1880 to 2012, average global temperature increased by 0.85°C.
                    To put this into perspective, for each 1 degree of temperature increase,
                    grain yields decline by about 5 per cent. Maize, wheat and other major
                    crops have experienced significant yield reductions at the global level of 40
                    megatons per year between 1981 and 2002 due to a warmer climate.
                </p>
            </div>
            <div class="col-lg-6">
                <h3 style="color:red">Use case narrative</h3>
                <p style="color:white">This is use case 1.1</p>
                <img src="~/Images/UC1.png" alt="" style="width:450px;height:400px;">
            </div>
        </div>
    </div>

    <div class="jumbotron" style="background-image: url('../../Background/CoalMine.jpg');
                                    background-size: 110% 110%";>
        <div class="row">
            <div class="col-lg-6">
                <h3 style="color:red;"> What are the causes of climate change? </h3>
                <p style="color:white">
                    Manufacturing and industry produce emissions, mostly from burning
                    fossil fuels to produce energy for making things like cement, iron,
                    steel, electronics, plastics, clothes and other goods. Mining and other
                    industrial processes also release gases.
                </p>
            </div>
            <div class="col-lg-6">
                <h3 style="color:red">Use case narrative</h3>
                <p style="color:white">This is use case 1.2</p>
                <img src="~/Images/UC2.png" alt="" style="width:450px;height:400px;">
            </div>
        </div>
    </div>

    <div class="jumbotron" style="background-image: url('../../Background/DryLand.jpg');
                                    background-size: 110% 110%";>
        <div class="row">
            <div class="col-lg-6">
                <h3 style="color:red;"> Sponsors to help minimize climate change. </h3>
                <p style="color:white">
                    <ul class="a" style="color:white">
                        <li>
                            Rockefeller Family Fund. Since 2006, the Rockefeller Family Fund (RFF) has
                            focused its Environment program almost exclusively on climate change.
                        </li>
                        <li> National Science Foundation.</li>
                        <li>NASA.</li>
                        <li>Energy Foundation.</li>
                    </ul>
                </p>
            </div>
            <div class="col-lg-6">
                <h3 style="color:red">Use case narrative</h3>
                <p style="color:white">This is use case 1.3</p>
                <img src="~/Images/UC3.png" alt="" style="width:450px;height:400px;">
            </div>
        </div>
    </div>

    <div class="jumbotron" style="background-image: url('../../Background/2Bears.jpg');
                                    background-size: 110% 110%";>
        <div class="row">
            <div class="col-lg-6">
                <h3 style="color:red;">Measures to prevent climate change. </h3>
                <p style="color:black">
                    Keep fossil fuels in the ground. Fossil fuels include coal, oil and gas – and the more that are extracted and burned, the worse climate change will get. All countries need to move their economies away from fossil fuels as soon as possible.
                    Invest in renewable energy. Changing our main energy sources to clean and renewable energy is the best way to stop using fossil fuels. These include technologies like solar, wind, wave, tidal and geothermal power.
                    Switch to sustainable transport. Petrol and diesel vehicles, planes and ships use fossil fuels. Reducing car use, switching to electric vehicles and minimising plane travel will not only help stop climate change, it will reduce air pollution too.
                </p>
            </div>
            <div class="col-lg-6">
                <h3 style="color:red">Use case narrative</h3>
                <p style="color:black">This is use case 1.4</p>
                <img src="~/Images/UC4.png" alt="" style="width:450px;height:400px;">
            </div>
        </div>
    </div>

</body>
</html>

